/ChooseCityActivity_.java
/DetailsActivity_.java
/ImageDetailActivity_.java
/MainActivity_.java
/MessageActivity_.java
/MoreActivity_.java
/PhotoDetailActivity_.java
/PicuterDetailActivity_.java
/TuPianActivity_.java
/TuPianSinaActivity_.java
/VideoActivity_.java
/VideoPlayActivity_.java
/WeatherActivity_.java
/WelcomeActivity_.java
/BaseActivity_.java
